body { 
    background-color: #FFF2D8;
}

#titulo {
    text-align: center;
}

.texto {
    text-align: center;
    color:rgb(197, 60, 156);
}

img {
    background-color: white;
    padding: 10px;
    max-width: 70%;
    max-height: 70%;
}

